
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
   
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.btn-container {
    display:flex;
    justify-content: center;
    gap: 16px;
}
.start-btn,
.reset-btn {
    width: 200px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: slateblue;
}
.window {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: slateblue;
    padding: 20px;
    width: 960px;
    height: 960px;
    border: solid white;
}
.gridElement {
    background-color: white;
    border: solid black;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}